<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Менеджер файлов</title>
  <link href="style.css" rel="stylesheet">
<body>
    <div class="file-manager">
        <h1>Менеджер файлов <div id="loading-spinner"></div></h1>
        <div class="search-bar">
            <button class="back-button" onclick="backPath()"></button>
            <div class="block-current-path">
                <div class="current-path" id="current-path">../../</div>
            </div>
            <button class="sort-button"></button>
        </div>
        <div class="file-list" id="file-list">
        </div>
    </div>
    </main>
    <script src="script.js"></script>
</body>
</html>